#line {
    position: absolute;
    width: 1937.5px;
    height: 0px;

    mix-blend-mode: normal;
    border: 1px solid #000000;
}

#head-text {
    display: flex;
    align-content: center;
    gap: 0.5rem;



}

#module-box {
    box-sizing: border-box;



    width: 25%;
    height: 70%;
    margin-top: 5.37%;
    margin-bottom: 5.37%;
    margin-left: 5.89%;



    background: #FFFFFF;
    border: 1px solid #DBCDB6;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.160784);
    border-radius: 67px;

}

#boxes {
    display: flex;

}

#modulehead-text {
    font-size: 2rem;

}