#head-text {
    display: flex;
    align-content: center;
    gap: 0.5rem;



}

#module-box {
    box-sizing: border-box;
    display: block;
    width: 25%;
    height: 70%;
    margin-bottom: 5.37%;
    margin-left: 5.89%;
    background: #FFFFFF;
    border: 1px solid #DBCDB6;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.160784);
    border-radius: 5%;
}



#boxes {

    display: flex;

}


#head-text {
    font-size: 25px;
    align-items: center;
}

#duration {
    margin-left: 5%;
    font-size: 10px;
    text-align: right;
}

#modulehead-text {
    margin-left: 25%;
}

h3 {
    margin-left: 5%;
}

#navbar {
    margin-bottom: 13%;
}