.footer {
    width: 100%;
    height: 15vh;

    background: #28424C;
}

#footer-text {
    display: flex;
    justify-content: center;
    font-family: 'raleway';
    font-size: 1.2rem;
    color: #DBCDB6;
    text-align: center;


}