#body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-area:
        "top"
        "medium"
        "down"
}

.topp {
    grid-area: "top";
    width: 100vw;
    width: 98.9vw;
    background-color: rgba(33, 59, 69, 1);
    height: 100vh;
}



#rest {
    grid-area: "medium";
    width: 98.7vw;
    height: 100vh;
    background: #FFFFFF;

}

#rest2 {
    grid-area: "down";
    width: auto\9;
    height: 100vh;
    width: 98.7vw;

}

#image1 {
    height: 100vh;
    
    overflow: hidden;
}



#backgroundimg {
    box-sizing: border-box;



    height: auto;
    width: auto\9;
    opacity: 0.1;
    pointer-events: none;


}


#tagline {
    position: absolute;
    height: 40rem;
    left: 6%;
    top: 28%;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 66px;
    line-height: 77px;

    color: #DBCDB6;
}

#getstarted {
    box-sizing: border-box;
    position: absolute;
    width: 393px;
    height: 66px;
    left: 6%;
    top: 73%;
    background: rgb(53, 156, 156);
    opacity: 0.6;
    border: 1px solid #707070;
    border-radius: 46px;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.01em;
    color: #DBCDB6;

}

#getstarted:hover {

    background: rgba(33, 59, 69, 1);
    color: rgb(55, 157, 157);
}

#master-box {

    box-sizing: border-box;

    position: absolute;
    margin-left: 5.89%;
    width: 88.23%;
    height: 80%;
    margin-top: 5.37%;
    margin-bottom: 5.37%;
    margin-left: 5.89%;
    margin-right: 5.89%;
    display: grid;



    background: #FFFFFF;
    border: 1px solid #DBCDB6;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.160784);
    border-radius: 67px;
    grid-template-areas: ". head"

        "img  p";
    grid-template-rows: 25% 1fr;

    grid-template-columns: 1fr 2fr;



}

#master-title {
    width: 100%;
    height: 5.19%;
    font-family: 'Raleway';

    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #35697D;

}



#master-head {
    grid-area: head;
}

#master-image {
    grid-area: img;

}

#master-text {
    grid-area: p;
    text-overflow: hidden;

}

#para {

    color: #213B45;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 32px;

}

#profile-pic {
    width: 30%;
    margin-left: 35%;
    margin-top: 6%;
    border-radius: 10%;
}

#profile-name {
    font-family: 'Raleway';
    font-size: 1.7rem;
    font-style: medium;
    letter-spacing: 0.01em;
    font-weight: 10;
    text-align: center;
    margin-left: 1%;
    color: #35697D;
}

#master-box2 {

    box-sizing: border-box;

    position: absolute;
    margin-left: 5.89%;
    width: 88.23%;
    height: 80%;
    margin-top: 5.37%;
    margin-bottom: 5.37%;
    margin-left: 5.89%;
    margin-right: 5.89%;
    display: grid;



    background: #FFFFFF;
    border: 1px solid #DBCDB6;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.160784);
    border-radius: 67px;
    grid-template-areas: "head1 ."

        "p2  img1";
    grid-template-rows: 25% 1fr;

    grid-template-columns: 1fr 1fr;



}

#kids-head {
    grid-area: head1;
}

#kids-title {
    width: 100%;
    height: 5.19%;
    font-family: 'Raleway';

    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #35697D;

}

#para2 {
    grid-area: p2;
    margin-top: 5%;
    margin-left: 10%;
    color: #213B45;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 32px;



}

#kids-image {
    grid-area: img1;
}

#kid-pic {
    width: 60%;
    margin-top: 0%;
    margin-left: 15%;
    position: relative;
}

#kids-text {
    margin-bottom: 1rem;
}