.img {
    display: block;
    margin-top: 50px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.App-logo {
    box-sizing: border-box;
    margin-left: 20%;
    width: 292px;
    height: 46px;



    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;
    gap: 20px;

    position: relative;
    width: 100%;
    height: 85px;

    background: #28424C;
}
