.App-logo {
    display: flex;
    justify-content: center;
    width: 60%;
    margin-left: 3rem;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    flex-wrap: wrap;

    width: 100%;
    height: 12vh;

    background: #28424C;
}

#rnav {
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
    flex-wrap: wrap;

}

#pricing-text,
#curriculum-text,
#login-text {
    color: #DBCDB6;
    font-family: 'Raleway';
    font-style: medium;
    font-weight: 700;

}