#master-box1 {

    box-sizing: border-box;

    position: absolute;
    margin-left: 5.89%;
    width: 20%;
    height: 60%;
    margin-top: 5.37%;
    margin-bottom: 5.37%;
    margin-left: 15.89%;
    margin-right: 5.89%;


    background: #FFFFFF;
    border: 1px solid #DBCDB6;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.160784);
    border-radius: 67px;
}

